# parsl dependencies to avoid rust installation
bcrypt<4.0.0
cryptography==3.3.2
globus_sdk<3.1

# core components
parsl
radical.pilot
maestrowf

smartsim==0.5.1; python_version>="3.8" and platform_machine=="x86_64"
tensorflow==2.8.0; python_version>="3.8" and platform_machine=="x86_64"

# tests
pytest
pytest-tap

