name: CI Test
on:
  pull_request:
  push: { branches: [master] }

jobs:
  test:
    name: Run test suite
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v2

    - name: Build docker images
      run: |
        docker build -t exaworks/sdk-base --cache-from exaworks/sdk-base docker/base/centos8
        docker build -t rp docker/rp
        docker build -t rp_parsl --build-arg BASE_IMAGE=rp docker/Parsl
        docker build -t rp_parsl_swift --build-arg BASE_IMAGE=rp_parsl docker/swift-t
        docker build -t rp_parsl_swift_flux --build-arg BASE_IMAGE=rp_parsl_swift docker/flux

    - name: Build docker base images
      run: |
        docker build -t exaworks/sdk-base --cache-from exaworks/sdk-base docker/base/centos7

    - name: Run tests
      run: |
        docker run rp
        ret_rp=$?
        echo "rp   : $ret_rp"
        # docker run flux
        ret_flux=$?
        echo "flux : $ret_flux"
        # docker run swift-t
        ret_swift=$?
        echo "swift: $ret_swift"
        # docker run parsl
        ret_parsl=$?
        echo "parsl: $ret_parsl"
        echo "exit : $(expr $ret_rp + $ret_flux + $ret_swift + $ret_parsl)"
        exit $(expr $ret_rp + $ret_flux + $ret_swift + $ret_parsl)
        # docker run rp_parsl
        # docker run rp_parsl_swift
        # docker run rp_parsl_swift_flux

  check-pr:
    name: validate commits
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.event.pull_request.head.sha }}
        fetch-depth: 0
    - run: git fetch origin master
    - uses: exaworks/pr-validator@master
